.tim-typo {
  padding-left: 25%;
  margin-bottom: 40px;
  position: relative;
  width: 100%;
}

.tim-typo .tim-note {
  bottom: 5px;
  color: #c0c1c2;
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  left: 0;
  margin-left: 20px;
  position: absolute;
  width: 260px;
}

/* offline-doc */

.offline-doc .navbar.navbar-transparent {
  padding-top: 25px;
  border-bottom: none;
}

.offline-doc .navbar.navbar-transparent .navbar-minimize {
  display: none;
}

.offline-doc .navbar.navbar-transparent .navbar-brand,
.offline-doc .navbar.navbar-transparent .collapse .navbar-nav .nav-link {
  color: #FFFFFF !important;
}

.offline-doc .footer {
  z-index: 3 !important;
}

.offline-doc .page-header .container {
  z-index: 3;
}

.offline-doc .page-header:after {
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

#map {
  z-index: 2;
  height: calc(100vh - 70px);
  margin-top: 70px;
}

tfoot {
  display: table-header-group;
}

.font-icon-widget{
  width: 33px !important;
  height: 33px !important;
  text-align: center !important;
  line-height: 33px !important;
  font-size: 28px !important;
}

/* 1.18 Select2 */
.select2-container--default .select2-search--dropdown .select2-search__field:focus {
  outline: none;
  box-shadow: none; }

.select2-container .select2-selection--multiple, .select2-container .select2-selection--single {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  min-height: 42px;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  outline: none;
  background-color: #fdfdff;
  border-color: #e4e6fc; }

.select2-dropdown {
  border-color: #e4e6fc !important; }

.select2-container.select2-container--open .select2-selection--multiple {
  background-color: #fefeff;
  border-color: #9e5eb3; }

.select2-container.select2-container--focus .select2-selection--multiple, .select2-container.select2-container--focus .select2-selection--single {
  background-color: #fefeff;
  border-color: #9e5eb3; }

.select2-container.select2-container--open .select2-selection--single {
  background-color: #fefeff;
  border-color: #9e5eb3; }

.select2-results__option {
  padding: 10px; }

.select2-search--dropdown .select2-search__field {
  padding: 7px; }

.select2-container--default .select2-selection--single .select2-selection__rendered {
  min-height: 42px;
  line-height: 42px;
  padding-left: 20px;
  padding-right: 20px; }

.select2-container--default .select2-selection--multiple .select2-selection__arrow, .select2-container--default .select2-selection--single .select2-selection__arrow {
  position: absolute;
  top: 1px;
  right: 1px;
  width: 40px;
  min-height: 42px; }

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
  color: #fff;
  padding-left: 10px;
  padding-right: 10px; }

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  padding-left: 10px;
  padding-right: 10px; }

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  margin-right: 5px;
  color: #fff; }

.select2-container--default .select2-selection--multiple .select2-selection__choice,
.select2-container--default .select2-results__option[aria-selected=true],
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #9e5eb3;
  color: #fff; }

.select2-results__option {
  padding-right: 10px 15px; }

  .select2 {
    width: 100% !important;
}
.select2-container--default .select2-selection--single {
    border-radius: 0px;
}
.select2-dropdown {
    border-radius: 0px;
}

.add-input-text{
  height: 42px;
}